@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;

}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.nav-contenido {
  padding: 13px;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.inicio {
  font-weight: bolder;
  font-size: 27px;
  margin-left: 10px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
}

header ul li a {
  padding: 15px;
}

a {
  text-decoration: none;
  color: rgb(252, 252, 252); 
}

.contenido {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.div-primero {
  background-image: url("./img/bgrepuesto.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.div-text h1 {
  text-align: center;
  padding: 150px 0px 150px ;
  font-size: 50px ;
}

.presentacion {
  text-align: center;
}

.presentacion h3 {
  font-size: 1.6em;
}

.img1 {
  border-radius: 10px;
  width: 350px;
  height: 150px;
}

.img2 {
  border-radius: 10px;
  width: 350px;
  height: 150px;
}

.img3 {
  border-radius: 10px;
  width: 350px;
  height: 150px;
}

@media (min-width: 650px) {
  body {
    font-size: 18px;
  }
  .contenido {
    padding: 1.5em 4em;
  }
 
  .footer-distribucion {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 15px 15px;
    text-decoration: none;
  }
  
  .footer-distribucion .footer-contenido p {
    color: #8f9296;
    font-size: 14px;
    margin: 10px;
  }
  
  .footer-distribucion p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding: 0;
  }
  
  .footer-distribucion p.footer-links a {
    display: inline-block;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
  }
  
}